.body {
   background-color: #efd6d2;

}
.barra ul{
   list-style-type: none;
   background-color: #6f5e76ff;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-style: solid;
   border-color: whitesmoke;
   border-radius: 7px;
}
   
.barra li{
   float: left;
   
}
.barra li img{
	z-index: 999;
	padding-left: 20px;
	position: relative;
	top: 3.5px;
}

.barra li a{
   text-align: center;
   color: white;
   padding: 20px 20px;
   bottom: 40;
   text-decoration: none;
   width: 100%;
   font-size: 25px;
}
.barra li a:hover {
	background-color: pink;
	color: black;
}

.caja2 {
	text-align: center;
    background-color: #de369dff;
    height: 80px;
    font-size: 20px;
    border-radius: 7px;
    margin-top: 10;
}

.caja3 {
    background-color: #ff8cc6ff;
    border-radius: 7px;
    height: 100;
        
}
.h2 {
   text-align: center;


}
.tenor-gif-embed{
   display: block;
   margin: auto;
   border-style: solid;
   border-color: black;
   border-radius: 7px;

}


.caja4 {  
 	object-fit: cover;
	text-align: center;
   background-color: white;
}
.h3 {
   background-color: lightgray;
   margin-bottom: 0;

}
.form {
   width: 75%;
   margin: auto;
   background-color: #d8e2dc;
   padding: 10px 20px;
   box-sizing: border-box;
   border-style: solid;
   border-color: black;
   border-radius: 7px;
   margin-top: 20px;
}
.h4 {
   font-size: 20px;
   margin: 0;
   margin-bottom: 20px;
}
input textarea {
   width: 100%;
   margin-bottom: 20px;
   padding: 7px;
   box-sizing: border-box;
}
#botón {
   background-color: pink;
 }
.footer {
  position: relative;
  width: 100%;
  height: 25%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 7px;
  border-style: solid;
  border-color: black;
}
.p {
   font-size: 15px;
}


 
 
 





/* Write some CSS below */
